<% add_decidim_page_title(t(".title")) %>

<%
  edit_link(
    decidim_admin_superspaces.superspaces_path,
    :read,
    :superspace
  )
%>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= t("title", scope: "decidim.superspaces.superspaces.index") %></h1>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <section id="superspaces-grid" class="layout-main__section">
    <%= render partial: "collection" %>
  </section>
<% end %>
