<li draggable="true" data-content-block-id="<%= type_name %>">
  <div class="draggable-content">
    <div class="flex items-center">
      <div>
        <strong><%= type_title %></strong>
        <% if show_description? %>
          <small class="text-muted block"><%= type_description %></small>
        <% end %>
      </div>
    </div>
    <div>
      <%= icon "menu-line", role: "img", "aria-hidden": true %>
    </div>
  </div>
</li>
