<li draggable="true" data-content-block-id="<%= type_name %>">
  <div class="draggable-content">
    <div class="flex items-center">
      <div>
        <strong><%= t("decidim.superspaces.admin.superspaces.configure.#{type_name.singularize}").pluralize %></strong>
        <small class="text-muted block"><%= type_description %></small>
      </div>
    </div>
    <div>
      <%= icon "menu-line", role: "img", "aria-hidden": true %>
    </div>
  </div>
</li>
